.tl-timenav {
  background-color: #4d96c2;
}

.tl-timeaxis-background {
  background-color: #e8e8e8;
}

.tl-timemarker .tl-timemarker-content-container {
  background-color: #ffffff;
  color: #333333;
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container {
  background-color: #fadb62;
  color: #ffffff;
}

.tl-slider-container-mask {
  background-color: #000000;
}

.tl-text {
  background-color: #ffffff;
}
