/* Timeline bar */
.tl-timenav {
  border-top: 2px solid #4d96c2;
  background-color: #fcedb0;
}

/* Tick mark background */
.tl-timeaxis-background {
  background-color: #e8e8e8;
}

/* Tick lines */
/* .tl-timeaxis-tick:before {
  background-color: ;
} */

/* Tick date text */
/* .tl-timeaxis .tl-timeaxis-tick {
  color: ;
} */

/* Slide background */
.tl-slider-container-mask {
  background-color: #000000;
}

/* Text area background: Keep off */
/* .tl-text {
  background-color: ;
} */

/* Text area headline */
/* .tl-headline {
  color: ;
} */

/* Text area body */
/* .tl-text-content {
  color: ;
} */

.tl-media-content-container {
  background-color: transparent !important;
  width: 480px !important;
  flex-shrink: 0;
}

.tl-media-content {
  background-color: transparent !important;
  max-width: 480px;
  max-height: 480px;
}

/* Text area container */
.tl-text-content-container {
  max-width: 600px;
}

/* Date above headline */
/* .tl-headline-date {
  color: ;
} */

/* Marker flag background */
.tl-timemarker .tl-timemarker-content-container {
  background-color: #ffffff
  border-top: 2px solid #4d96c2;
  color: #333333;
}

/* Active marker flag */
.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container {
  background-color: #4d96c2;
  border-top: 2px solid #4d96c2;
  color: #ffffff;
}

/* Hover marker flag */
.tl-timemarker:hover .tl-timemarker-content-container {
  background-color: #fed118;
  color: ;
}

/* Previous/next navigation arrows */
.tl-timeline .tl-slidenav-next,
.tl-timeline .tl-slidenav-previous {
  color: #4d96c2;
}

/* Media credit text */
/* .tl-timeline .tl-credit {
  color: ;
} */

/* Media caption text */
/* .tl-timeline .tl-caption {
  color: ;
} */